@model KendoExperiments.Models.BasicModel

@{
    ViewBag.Title = "DataSource";
}

<div id="application"></div>

<scrpt id="fff" type="text/x-kendo-template">
    <div data-role="grid"
        date-scrollable="true"
        data-editable="true"
        data-toolbar="['create', 'save']"
        data-columns="[
                        { 'field': 'ProductName', 'width': 270 },
                        { 'field': 'UnitPrice' },
                    ]"
        data-bind="source: products, events: { save: onSave }"
        style="width: 480px; height: 200px"></div>
</scrpt>