@model KendoExperiments.Models.BasicModel

<script id="question-details-template" type="text/x-kendo-template">
    <div class="question-details">
        Question: <span data-bind="text: question.name" /><br />
        Current answer: <span data-bind="text: question.answer"></span><br />
        <br />
        <ul data-role="panelbar">
            <li>
                <span>Findings</span>
                <div data-bind="source: questionFindingsViewModel" data-template="question-findings-template"></div>
            </li>
            <li>
                <span>Explanation</span>
                <div>
                    E
                </div>
            </li>
            <li>
                <span>History</span>
                <div>
                    H
                </div>
            </li>
        </ul>
    </div>
</script>

<script id="question-findings-template" type="text/x-kendo-template">
    <div class="findings-panel">
        Findings <button data-bind="events: { click: createFinding }">Create finding</button>
    </div>
</script>

<script id="question-explain-template" type="text/x-kendo-template">
</script>

<script id="question-history-template" type="text/x-kendo-template">
</script>



