@model KendoExperiments.Models.BasicModel

<script id="question-details-template" type="text/x-kendo-template">
    <div>
        Question: <span data-bind="text: question.name" /><br />
        Current answer: <span data-bind="text: question.answer"></span><br />
        <br />
        <ul data-role="panelbar">
            <li>
                <span>Findings</span>
                <div>

                </div>
            </li>
            <li>
                <span>Explanation</span>
                <div>

                </div>
            </li>
            <li>
                <span>History</span>
                <div>

                </div>
            </li>
        </ul>
    </div>
</script>



