@model KendoExperiments.Models.BasicModel

@section head {
    @Styles.Render("~/Content/review")
    @Styles.Render("~/kendo/styles/kendo.common.min.css")
    @Styles.Render("~/kendo/styles/kendo.material.min.css")
}

<div id="application"></div>

<script id="layout-template" type="text/x-kendo-template">
    <div>
        <div id="chapters-view" class="left-panel"></div>
        <div id="question-details-view" class="right-panel"></div>
        <div class="cleared"></div>
    </div>
</script>

@{ Html.RenderPartial("_ChaptersTemplate", Model); }
@{ Html.RenderPartial("_QuestionsTemplate", Model); }
@{ Html.RenderPartial("_QuestionDetailsTemplate", Model); }

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="signalr/hubs"></script>
    <script src="~/kendo/js/kendo.all.min.js"></script>

    @Scripts.Render("~/scripts/review/app")
}