@model KendoExperiments.Models.BasicModel

@{
    ViewBag.Title = "SPA";
}

<div id="application"></div>


<script id="layout-template" type="text/x-kendo-template">
    <div>
        <div id="chapters-view"></div>
        <div id="question-details-view"></div>
    </div>
</script>

<script id="chapters-template" type="text/x-kendo-template">
    <div>
        <h2>Chapters</h2>
        <div data-bind="html: test"></div>

        <div data-role="listview"
                 data-template="chapter-item-template"
                 data-bind="source: chapters"
                 style="width: 420px; height: 200px; border: solid 1px red; overflow: auto"></div>

    </div>
</script>

<script id="chapter-item-template" type="text/x-kendo-template">
    # console.log('itemmmm', data); #
    <div class="chapter">
        <div class="item-title" data-bind="events: { click: showDetails }">
            <span data-bind="html: name"></span>
        </div>
        <div class="item-content" data-bind="visible: contentVisible">
            #= order #
            <div class="questions"></div>
        </div>
    </div>
</script>

<script id="questions-template" type="text/x-kendo-template">
    <div>
        <h3>Questions</h3>
        <span data-bind="text: test"></span>
        
        <div data-role="listview" data-bind="source: questionsDataSource" data-demplate="question-item-template"></div>
    </div>
</script>

<script id="question-item-template" type="text/x-kendo-template">
    <div>
        <h4>Question</h4>
        <span data-bind="text: name"></span>
    </div>
</script>

@section scripts {
    <script src="~/kendo/js/kendo.all.min.js"></script>
    @Scripts.Render("~/scripts/review/app")
}